body
{
    margin: 0px;
    padding: 0px;
    background-color: #b8a1cb;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #8F79A1;
    box-shadow: 2px 2px 12px  rgb(154, 148, 148);
    padding: 0px 5%;
}

nav ul
{
    display: flex;
}

nav ul li a
{
    margin: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #171616;
    font-size: 16px;
    font-weight: 650;
}

nav ul li a:hover
{
    background-color: rgb(182, 129, 193);
    color: #fff;
    border-radius: 5px;
}

.logo
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

#home
{
    width: 100%;
    height: 95vh;
    position: relative;

}
.home p
{
    line-height: 0px;
    margin: 50px 0px 25px;
}

.home p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#101010;
    letter-spacing: normal;
    font-size: 50px;
}

.home p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#0a0a0b;
    letter-spacing: normal;
    font-size: 40px;
}

.home p:nth-child(3)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#e8e6f0;
    letter-spacing: none;
    font-size: 30px;
}

.home p:nth-child(3)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#e8e6f0;
    font-size: 30px;
    line-height: 30px;
}
.home p:nth-child(4)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#e8e6f0;
    font-size: 50px;
    line-height: 30px;
}

.home
{
    position: absolute;
    left: 10%;
    right: 10%;
    transform: translate(13%, 42%);
}

.picture
{
    width: 500px;
    height: auto;
    position: absolute;
    left: 90%;
    top: 40%;
    transform: translateX(-80%);
}

.home .picture
{
    width: 60%;
    position: relative;
}

.home .picture::after
{
    content: '';
    position: absolute;
    background-color: #3718bf;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: -1;
    top: 20%;
    left: 24%;
}

.home .picture img
{
    width: 100%;
}

.about
{
    height: 50vh;
    background-color: #d8cae3;
    padding: 5% 10% 10%;
}

.about-desc
{
    margin: 50px 50px;
}

.about-desc p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: 000;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin: 30px;
}

.about-desc p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151414e2;
    text-align: center;
}

.row
{
    margin: 30px;
    padding: 20px;
    display: flex;
}

.row .colum h2
{
    text-align: center;
}

.row .picture{
    text-align: justify;
}

.colum
{
    flex: 40%;
    padding: 20px;
    height: 150px;
}

.skill
{
    height: 65vh;
    background-color: #8F79A1;
    padding: 2% 10% 10%;
}

.skill-desc
{
    margin: 50px  50px;
}

.skill-desc p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.skill-desc p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0c0c0c;
    text-align: center;
}

.box-container
{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.box-1, .box-2, .box-3
{
    width: 350px;
    height: 350px;
    box-shadow: 2px 12px 10px rgb(183, 178, 183);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.box-1 span, .box-2 span, .box-3 span
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgb(230, 209, 241);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #030303;
    width: 200px;
    margin: 0px 0px 50px 0px;
}

.contact
{
    height: 75vh;
    background-color:  #d8cae3;
    padding: 2% 10% 10%;
}

.contact-desc
{
    margin: 50px 50px;
}

.contact-desc p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#0c0404;
    font-size: 30px;
    line-height: 0;
    text-align: center;
    margin-bottom: 35px;
}

.contact-desc p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7e7e7e;
    text-align: center;
}

input[type=text], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid  #8F79A1;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit]
{
    background-color: #b8acec;
    color: #fff;
    padding:  12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover
{
    background-color:  #8F79A1;
}

input:active
{
    transform: scale(1.1);
}


footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #b8acec;

}

footer p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p:nth-child(1)
{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;

}

.sosial-icons
{
    margin: 30px 0px;
    display: flex;
    text-align: center;
    padding-bottom: 20px;
}
.sosial-icons a
{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin 3px;
    background-color: #fff;
    border-radius: 50%;
}

.sosial-icons i{
    font-size: 35px;
    color: #9162b3;
}

.sosial-icons a:hover
{
    background-color: #8F79A1;
    box-shadow: 2px 2px 12px rgb(21, 21, 21)
}